<h1>Home</h1>
<p>Welcome to the home of <%= @owner.name %></p> 
<p>I was born on <%= @owner.birthdate %></p>
<p><%= @owner.countdown %> days until my birthday! </p>
 <!--  #instance variable, passing info form view to controller -->